/blib/
/.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
/Makefile
/Makefile.old
/MANIFEST.bak
/MYMETA.*
nytprof.out
/pm_to_blib
*.o
*.bs
/_eumm/
/peeled_pokemon_tweets.conf
/peeled_pokemon_tweets.db
/hypnotoad.pid
